@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Sekcja services*/

.services {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 75px;
}

.services .item {
  height: 25vh;
}

.services .item {
  background-position: center;
  background-repeat: no-repeat;
}

.services .item:nth-of-type(1) {
  background-image: url(/assets/images/foto1.jpg);
}

.services .item:nth-of-type(2) {
  background-image: url(/assets/images/foto2.jpg);
}

.services .item:nth-of-type(3) {
  background-image: url(/assets/images/foto3.jpg);
}

.services .item:nth-of-type(4) {
  background-image: url(/assets/images/foto4.jpg);
}

.services .item p {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 5px 0;
}

.services h1 {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 1px;
  text-transform: uppercase;
}

@media (min-width: 533px) {
  .services .item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .services h1 {
    font-size: 28px;
    margin-top: 40px;
  }

  .services .item p {
    font-size: 30px;
    padding: 15px 0;
  }
}

@media (min-width: 1024px) {
  .services .item p {
    padding: 0;
    line-height: 40vh;
    opacity: 0;
    transition: 1s;
    cursor: default;
  }

  .services .item:hover p {
    opacity: 1;
  }

  .services .item {
    background-size: 100%;
    transition: 1s;
  }

  .services .item:hover {
    background-size: 130%;
  }
}

@media (min-width: 1600px) {
  .services h1 {
    font-size: 28px;
    margin-top: 50px;
  }

  .services .item p {
    font-size: 40px;
  }
}

/* Sekcja Skills*/

.skills {
  max-width: 1600px;
  margin: 10px auto 0;
  padding: 5%;
  text-align: center;
}

.skills h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skills h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.skills p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
}

.skills img {
  width: 100%;
  margin: 5px 0;
  max-width: 375px;
}

@media (min-width: 360px) {
  .skills h1 {
    font-size: 28px;
  }

  .skills h2 {
    font-size: 24px;
  }
  .skills p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .skills h1 {
    font-size: 36px;
  }

  .skills h2 {
    font-size: 28px;
  }
  .skills p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .skills {
    margin-top: 0px;
    padding: 5% 2% 1.5% 0%;
    text-align: center;
  }
  .skill {
    float: left;
    width: 33%;
    padding: 20px;
  }
  .skills h1 {
    font-size: 36px;
  }

  .skills h2 {
    font-size: 22px;
  }
  .skills p {
    font-size: 16px;
    line-height: 120%;
    padding: 0 10px;
  }
}

@media (min-width: 1600px) {
  .skills {
    margin-top: -40px;
  }
  .skill {
    padding: 20px 50px;
  }
  .skills h1 {
    font-size: 60px;
  }

  .skills h2 {
    font-size: 32px;
  }
  .skills p {
    font-size: 21px;
    line-height: 140%;
    padding: 0 10px;
  }
}
