@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Sekcja services*/

.services {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 75px;
}

.services .item {
  height: 25vh;
}

.services p {
  font-family: "PT Sans", sans-serif;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 5px 15px;
}

strong {
  color: #d86072;
}

.services h1 {
  font-family: "PT Sans Narrow", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.services img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 1200px;
  border-radius: 7px;
}

@media (min-width: 533px) {
  .services .item {
    float: left;
    width: 50%;
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .services h1 {
    font-size: 28px;
    margin-top: 20px;
  }

  .services p {
    font-size: 24px;
    padding: 15px 15px;
  }
}

@media (min-width: 1024px) {
  .services p {
    padding: 15px 15px;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .services h1 {
    font-size: 38px;
    margin-top: 30px;
  }

  .services p {
    font-size: 24px;
    padding: 15px 15px;
  }
}
